{% liquid
  render 'vite-tag' with 'index-swiper.jsx' 
%}

<div id="index-swiper"></div>

{% schema %}
{
  "name": "Index Swiper",
  "settings": [],
  "presets": [
    {
      "name": "Index Swiper"
    }
  ]
}
{% endschema %}